<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="correccionDigi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ProyectoGenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Proyectogenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="correccionDigi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" >      
      <object name="PanelIndizacionGeneral"  type="correccionDigi.panelIndizacionGenerico, correccionDigi"/>
      <object name="PanelIndizacionUrgencias"  type="correccionDigi.panelIndizacion, correccionDigi"/>
    </objects>
  </spring>

  <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <correccionDigi.My.MySettings>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="RutaDescargaImagenes" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="RutaEjecutableScaneo" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaEjecutableRetoque" serializeAs="String">
                <value>C:\Program Files\Paint.NET\PaintDotNet.exe</value>
            </setting>
            <setting name="rutaAplicacionEscaner" serializeAs="String">
                <value>C:\Archivos de programa\IrfanView\i_view32.exe</value>
            </setting>
            <setting name="pathArchivoConfigEscaner" serializeAs="String">
                <value>C:\Archivos de programa\IrfanView\i_view32.ini</value>
            </setting>
            <setting name="codigoEpidemiologia" serializeAs="String">
                <value>1461</value>
            </setting>
            <setting name="cadenaConexionOracle" serializeAs="String">
                <value>Data Source=plana01;User ID=novahis;Password=novahis;Unicode=True</value>
            </setting>
            <setting name="cabeceraBarcodeHistoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lenNHCBarcode" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="barcodeConCabecera" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="longitudBarcode" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="rutaRepositorioHospital" serializeAs="String">
                <value>G:\7001</value>
            </setting>
            <setting name="cadenaConexion" serializeAs="String">
                <value>12|53|164|203|59|128|58|209|34|233|58|160|253|198|202|183|213|90|31|171|204|103|66|234|141|156|61|237|84|92|125|70|109|9|182|184|254|239|154|200|97|54|141|212|162|130|215|150|55|194|190|45|2|134|175|255|144|12|95|198|162|124|7|169|97|94|58|135|112|201|232|214|211|50|113|14|137|56|37|195|205|74|137|213|127|76|49|105|131|41|140|99|138|31|166|83</value>
            </setting>
            <setting name="direccion" serializeAs="String">
                <value>59|198|145|103|65|118|200|253|184|242|238|106|4|98|97|246|6|249|136|75|62|235|135|200</value>
            </setting>
            <setting name="fecha" serializeAs="String">
                <value>39|11|231|199|177|71|118|21|162|132|102|214|166|229|84|165</value>
            </setting>
            <setting name="PermitirDigitalizarNoTiff" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ModoDepuracion" serializeAs="String">
                <value>false</value>
            </setting>
        </correccionDigi.My.MySettings>
        <ProyectoGenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=192.168.4.32;uid=sa;pwd=sa2003;database=PRODUCCION</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </ProyectoGenerico.My.MySettings>
        <Proyectogenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=KRONIKO;uid=sa;pwd=sa2003;database=CODIFICACION_EPISODIOS_ROSELL</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </Proyectogenerico.My.MySettings>
    </applicationSettings>
    <userSettings>
        <correccionDigi.My.MySettings>
            <setting name="proyecto" serializeAs="String">
                <value>1461</value>
            </setting>
            <setting name="PorcentajeTolerancia" serializeAs="String">
                <value>25</value>
            </setting>
        </correccionDigi.My.MySettings>
    </userSettings>
</configuration>
