<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Digitalización.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ProyectoGenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Proyectogenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Digitalización.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" >      
      <object name="PanelIndizacionGeneral"  type="correccionDigi.panelIndizacionGenerico, correccionDigi"/>
      <object name="PanelIndizacionUrgencias"  type="correccionDigi.panelIndizacion, correccionDigi"/>
    </objects>
  </spring>

  <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Digitalización.My.MySettings>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>d:\temp</value>
            </setting>
            <setting name="RutaDescargaImagenes" serializeAs="String">
                <value>d:\temp</value>
            </setting>
            <setting name="RutaEjecutableScaneo" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaEjecutableRetoque" serializeAs="String">
                <value>C:\Program Files\Paint.NET\PaintDotNet.exe</value>
            </setting>
            <setting name="rutaAplicacionEscaner" serializeAs="String">
                <value>C:\IrfanView\i_view32.exe</value>
            </setting>
            <setting name="pathArchivoConfigEscaner" serializeAs="String">
                <value>C:\IrfanView\i_view32.ini</value>
            </setting>
            <setting name="cadenaConexionOracle" serializeAs="String">
                <value>Data Source=plana01;User ID=novahis;Password=novahis;Unicode=True</value>
            </setting>
            <setting name="cabeceraBarcodeHistoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lenNHCBarcode" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="barcodeConCabecera" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="longitudBarcode" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="rutaRepositorioHospital" serializeAs="String">
                <value>G:\7001</value>
            </setting>
            <setting name="cadenaConexion" serializeAs="String">
                <value>88|229|199|32|241|99|8|181|137|252|84|180|135|65|210|149|17|216|255|65|206|71|193|95|13|213|77|219|1|38|85|78|83|28|207|232|170|61|14|145|193|34|217|46|159|154|192|204|226|223|3|216|154|6|224|232|196|150|87|230|42|55|171|204|5|44|8|34|238|88|27|92|137|57|165|231|19|164|189|37|71|102|23|51|64|212|60|238</value>
            </setting>
            <setting name="fecha" serializeAs="String">
                <value>34|175|100|114|12|53|23|68|121|47|120|129|151|69|207|121</value>
            </setting>
            <setting name="PermitirDigitalizarNoTiff" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ModoDepuracion" serializeAs="String">
                <value>false</value>
            </setting>
        </Digitalización.My.MySettings>
        <ProyectoGenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=192.168.4.32;uid=sa;pwd=sa2003;database=PRODUCCION</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </ProyectoGenerico.My.MySettings>
        <Proyectogenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=KRONIKO;uid=sa;pwd=sa2003;database=CODIFICACION_EPISODIOS_ROSELL</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </Proyectogenerico.My.MySettings>
    </applicationSettings>
    <userSettings>
        <Digitalización.My.MySettings>
            <setting name="proyecto" serializeAs="String">
                <value>0138</value>
            </setting>
            <setting name="PorcentajeTolerancia" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PREP_caracter_Caja" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="PREP_caracter_Coleccion" serializeAs="String">
                <value>CC</value>
            </setting>
            <setting name="PREP_caracter_Lote" serializeAs="String">
                <value>LL</value>
            </setting>
            <setting name="PREP_caracter_NHC" serializeAs="String">
                <value>H;C</value>
            </setting>
            <setting name="PREP_Tabla_campos" serializeAs="String">
                <value>TRAZABILIDADLOTES;idLote;UsuarioPreparado;FechaInicioPreparado;FechaFinPreparado</value>
            </setting>
            <setting name="separadorCaratula" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Digitalización.My.MySettings>
    </userSettings>
</configuration>
