<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="correccionDigi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ProyectoGenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Proyectogenerico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="correccionDigi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" >      
      <object name="PanelIndizacionGeneral"  type="correccionDigi.panelIndizacionGenerico, correccionDigi"/>
      <object name="PanelIndizacionUrgencias"  type="correccionDigi.panelIndizacion, correccionDigi"/>
    </objects>
  </spring>

  <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <correccionDigi.My.MySettings>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="RutaDescargaImagenes" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="RutaEjecutableScaneo" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaEjecutableRetoque" serializeAs="String">
                <value>C:\Windows\system32\mspaint.exe</value>
            </setting>
            <setting name="rutaAplicacionEscaner" serializeAs="String">
                <value>C:\IrfanView\i_view32.exe</value>
            </setting>
            <setting name="pathArchivoConfigEscaner" serializeAs="String">
                <value>C:\IrfanView\i_view32.ini</value>
            </setting>
            <setting name="codigoEpidemiologia" serializeAs="String">
                <value>1483</value>
            </setting>
            <setting name="cadenaConexionOracle" serializeAs="String">
                <value>Data Source=plana01;User ID=novahis;Password=novahis;Unicode=True</value>
            </setting>
            <setting name="cabeceraBarcodeHistoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lenNHCBarcode" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="barcodeConCabecera" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="longitudBarcode" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="rutaRepositorioHospital" serializeAs="String">
                <value>G:\7001</value>
            </setting>
            <setting name="cadenaConexion" serializeAs="String">
                <value>20|120|121|138|108|4|220|0|173|137|59|25|113|43|89|193|80|160|241|41|25|31|7|107|14|101|92|119|90|140|32|197|148|120|31|53|241|206|92|13|181|215|77|194|207|175|182|237|52|0|99|202|32|128|34|198|94|90|220|84|97|64|211|251|172|26|69|82|116|136|219|251|244|79|155|19|29|89|162|203|115|8|115|47|100|191|232|143</value>
            </setting>
            <setting name="direccion" serializeAs="String">
                <value>226|227|171|227|254|200|189|191|203|147|81|166|14|227|84|251|243|88|179|164|170|135|83|23</value>
            </setting>
            <setting name="fecha" serializeAs="String">
                <value>39|11|231|199|177|71|118|21|162|132|102|214|166|229|84|165</value>
            </setting>
            <setting name="PermitirDigitalizarNoTiff" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ModoDepuracion" serializeAs="String">
                <value>false</value>
            </setting>
        </correccionDigi.My.MySettings>
        <ProyectoGenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=192.168.4.32;uid=sa;pwd=sa2003;database=PRODUCCION</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </ProyectoGenerico.My.MySettings>
        <Proyectogenerico.My.MySettings>
            <setting name="cadenaConexion" serializeAs="String">
                <value>server=KRONIKO;uid=sa;pwd=sa2003;database=CODIFICACION_EPISODIOS_ROSELL</value>
            </setting>
            <setting name="RutaImagenTemp" serializeAs="String">
                <value>"c:\temp"</value>
            </setting>
        </Proyectogenerico.My.MySettings>
    </applicationSettings>
    <userSettings>
        <correccionDigi.My.MySettings>
            <setting name="proyecto" serializeAs="String">
                <value>1463</value>
            </setting>
            <setting name="PosicionSplitter_VerifCorr" serializeAs="String">
                <value>400</value>
            </setting>
        </correccionDigi.My.MySettings>
    </userSettings>
</configuration>
